* {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 300px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 30px;
}

.title {
    color: #FFF;
    font-size: 18px;
    text-align: center;
}

.subtitle {
    margin-top: 50px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
}
